name: Sonar Report

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: read
      pull-requests: write
      checks: write
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Generate Sonar Report
        run: go test -coverpkg=./... -coverprofile=coverage.out -json ./... > sonar-report.json

      - name: Upload coverage reports to Sonar
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ github.token }}
        if: github.event.pull_request.head.repo.full_name == github.repository || github.event_name != 'pull_request'
        uses: SonarSource/sonarqube-scan-action@v7.0.0
        with:
          args: >
            -Dsonar.token=${{ secrets.SONAR_TOKEN }}
